{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
      <div class="row">
         <div class="col"></div>
      </div>
    </div>
{% endblock %}



{% block content %}
<div class="container-fluid" style="padding-bottom: 20px;">
   <div class="home-header">
      <div class="banner-text">
         <p>"Simply EggCellent"</p>
         <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
      </div>
   </div>
   <div class="mt-4">
      <div class="row justify-content-center">
         <div class="col-12 col-md-10 col-sm-12 col-xs-12">
            <div class="card p-3 p-md-4 text-white w-100">

               <span class="text-center"><i class="fas fa-envelope fa-2x" aria-hidden="true"></i></span>

               <h6 class="my-3 text-center fs-3"> Subscribe to the newsletter </h6>

               <form action="">
                  <div class="row d-flex my-2 pr-2 pr-md-5 div1">
                     <div class="col-12">
                        <input type="text" class="form-control py-3" id="inp1" placeholder="Enter Name" required>
                     </div>
                     <div class="col-12 mt-3">
                        <input type="email" class="form-control py-3" id="inp1" placeholder="Enter email address"
                           required>
                     </div>

                  </div>
                  <div class="d-grid mt-3">
                     <button class="btn text-white px-4 py-2 fs-5">Subscribe</button>
                  </div>
               </form>

            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}   