<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products'%}?category=scotch_eggs" class="dropdown-item">Scotch Eggs</a>
                <a href="{% url 'products'%}?category=not_scotch_eggs" class="dropdown-item">Not Scotch Eggs</a>
                <a href="{% url 'products'%}?category=sides" class="dropdown-item ">Sides</a>
                <a href="{% url 'products'%}?category=drinks" class="dropdown-item ">Drinks</a>
                <a href="{% url 'products'%}?category=scotch_eggs,not_scotch_eggs,sides,drinks" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                
                <a href="{% url 'products'%}?category=who_are_we" class="dropdown-item">Who are we?</a>
                
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products'%}?category=book_us" class="dropdown-item">Book Us</a>
                
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Find Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products'%}?category=social_media" class="dropdown-item">Social Media </a>
                <a href="{% url 'products'%}?category=deals" class="dropdown-item">Deals</a>
            
            </div>
        </li>
    </ul>
</div>