<nav class="navbar navbar-expand-lg navbar-light container-xxl">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="../../static/img/logo1.jpeg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    Products
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products'%}?category=ScotchEggs" class="dropdown-item">Scotch Eggs</a>
                    <a href="{% url 'products'%}?category=Chicken" class="dropdown-item">Not Scotch
                        Eggs</a>
                    <a href="{% url 'products'%}?category=Sides" class="dropdown-item ">Sides</a>
                    <a href="{% url 'products'%}?category=Drinks" class="dropdown-item ">Drinks</a>
                    <a href="{% url 'products'%}?category=Sauces" class="dropdown-item ">Sauces</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-us"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    About Us
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="about-us">
                    <a href="{% url 'about'%}" class="dropdown-item">Who are we?</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="events"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    Events
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="events">
                    <a href="{% url 'bookform' %}" class="dropdown-item">Book Us</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto navbar-row">
            <li class="nav-item dropdown">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                    data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" href="{% url 'home' %}">
                    <div class="text-center">
                        <div><i class="ri-map-pin-fill ri-lg"></i></div>
                        <p class="my-0">
                            Find Us
                        </p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="dropdown-item">
                    <a href="{% url 'social_media'%}" class="dropdown-item">Social Media </a>
                </div>
            </li>
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                    aria-expanded="false" aria-haspopup="true">
                    <div class="text-center">
                        <div><i class="ri-user-fill ri-lg"></i></div>
                        <p class="my-0">My Eggs</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                    href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div><i class="ri-shopping-cart-2-fill ri-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                            {% else %}
                            $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>