{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}



{% block content %}
<section>
   <div class="container text-center">
      <h1 class="display-4">Follow Us</h1>
      <p class="lead">Stay up-to-date with our latest news and updates on social media.</p>
      <hr class="my-4">
      <div class="row">
         <div class="col-sm-6">
            <a href="https://www.facebook.com/Scotties-Hot-Scotch-Eggs-108935481740254/" target="_blank"><i class="fab fa-facebook-f fa-4x facebook"></i></a>
         </div>
         
         <div class="col-sm-6">
            <a href="#"><i class="fab fa-instagram fa-4x instagram"></i></a>
         </div>
         
      </div>
   </div>
</section>
{% endblock %}